@model dynamic

@{
    ViewBag.Title = "Confirm user creation";
    Layout = "~/Views/Shared/AuthenticateLayout.cshtml";
}

<!DOCTYPE html>
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    
</hgroup>

<section class="example">
    <h4> User has been created successfully  </h4>
</section>