<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.0.7" targetFramework="net46" />
  <package id="Microsoft.Xrm.Sdk.2015" version="7.0.1" targetFramework="net46" />
  <package id="Microsoft.Xrm.Sdk.2016" version="8.2.0.713" targetFramework="net46" />
</packages>