<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.13" targetFramework="net45" />
  <package id="Microsoft.Xrm.Client.2011" version="5.0.18" targetFramework="net45" />
  <package id="Microsoft.Xrm.Sdk.2011" version="5.0.18" targetFramework="net45" />
  <package id="Moq" version="4.2.1312.1622" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="NUnitTestAdapter" version="1.0" targetFramework="net45" />
</packages>