<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.7.2" targetFramework="net46" />
  <package id="jQuery.Form" version="4.2.2" targetFramework="net46" />
  <package id="Moq" version="4.2.1312.1622" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="NUnitTestAdapter" version="1.0" targetFramework="net45" />
</packages>